{% extends "events/base.html" %}
{% load static %}
{% load humanize %}
{% block page-title %}Comments{% endblock %}
{% block title %}
    <div id="title">
        <h2>Comments for Event Story</h2>
    </div><!-- #title -->
{% endblock %}
{% block content %}
    <div class="event-story">
        {% for comment in comments %}
        <h4>{{ comment.title }}</h4>
        <h5>{{ comment.comment }}</h5>
        <h6>Posted by <a href="{% url 'users:profile' comment.user.username %}">{{ comment.user.username }}</a> {{ comment.date_posted }}</h6>

            <form class="edit" action="{% url 'events:edit_comment' comment.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="edit" value="Edit Comment">
            </form><!-- #edit -->
            <form class="delete" action="{% url 'events:delete_comment' comment.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="delete" value="Delete Comment">
            </form><!-- #delete -->


        {% empty %}
            <li>No comment yet.</li>
        {% endfor %}

        <form id="event-box" action="{% url 'events:add_comment'%}" method="POST">
            <input id="add-title" type="text" name="add-title" placeholder="Title">
            <input id="add-comment" type="text" name="add-comment" placeholder="Add a comment...">

            <input type="submit" name="edit" value="Post">
            {% csrf_token %}
       </form><!-- #event-box -->

    </div><!-- #event-story -->

{% endblock %}

{% block ad %}
    <div id="side-bar">

    </div><!-- #side-bar -->
{% endblock %}