{% extends "events/base.html" %}
{% load static %}
{% block page-title %}Contact{% endblock %}
{% block title %}
    <div id="title">
        <h2>Contact Us</h2>
    </div><!-- #title -->
{% endblock %}
{% block content %}
    <div id="contact">
        <h4>A collective of Iranian students at Virginia Tech.</h4>
        <h3>Contact Information</h3>
        <li>Moss Arts Center, 190 Alumni Mall</li>
        <li>Room 160 (Sandbox)</li>
        <li>Blacksburg, VA 24060</li>
        <li>USA</li>
        <h4>Contact us by email:</h4>
        <p> shayansanjideh@vt.edu</p>
        <h4>or Call:</h4>
        <p> 571-344-5985</p>

     </div><!-- #contact -->

{% endblock %}

{% block ad %}

{% endblock %}