{% extends "events/base.html" %}
{% load static %}
{% block page-title %}Members{% endblock %}
{% block title %}
    <div id="title">
        <h2>User Profiles</h2>
    </div><!-- #title -->
{% endblock %}
{% block content %}
    <div id="about">
        {% for user in users %}
            <p>
            <li><a href="{% url "users:profile" user.username %}">{{ user.username }}</a></li>
            <li>Role: {{ user.details.role }}</li>
            </p>
        {% endfor %}
     </div><!-- #about -->

{% endblock %}

{% block ad %}

{% endblock %}