{% extends "events/base.html" %}
{% load static %}
{% block page-title %}Profile for {{ user.username }}{% endblock %}
{% block title %}
    <div id="title">
        <h2>Profile for "{{ user.username }}"</h2>
    </div><!-- #title -->
{% endblock %}
{% block content %}
    <div class="event-story">
        <dl>
            <dt>Username</dt>
            <dd>{{ user.username }}</dd>
            <dt>First name</dt>
            <dd>{{ user.first_name }}</dd>
            <dt>Last name</dt>
            <dd>{{ user.last_name }}</dd>
            <dt>Role</dt>
            <dd>{{ user.details.role }}</dd>
            <dt>Password</dt>
            <dd>{{ user.password.decode }}</dd>
            <dt>Email address</dt>
            <dd>{{ user.email }}</dd>
            <dt>Based in:</dt>
            <input type="checkbox" class="blacksburg" name="blacksburg"><p>Blacksburg</p>
            <input type="checkbox" name="national capitol region" value="National Capital Region"><p>National Capital Region</p>
            <form class="calendar-open">
                <a href="https://calendar.google.com/"><input type="submit" name="calendar" value="Configure Calendar and Events"></a>
            </form><!-- #calendar -->
            {% if request.session.role == "admin" or request.session.username == user.username %}
                <form class="edit" action="{% url 'users:edit_profile' user.username %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="edit" value="Edit Profile">
                </form><!-- #edit -->
            {% endif %}
        </dl>

        {% include "actions/action/feed.html" %}
    </div>

{% endblock %}

{% block ad %}

{% endblock %}