{% extends "events/base.html" %}
{% load static %}
{% block page-title %}Home{% endblock %}
{% block content %}
    <div id="image-box">
            <!-- #image from ISVT media group in Telegram -->
        <img src="{% static "img/intro.JPG" %}" alt="Intro">
        </div><!-- #image-box -->

        <div id="intro-text">
            <h1>Iranian Society at Virginia Tech</h1>
            <button class="load" data-ajax-url="{% url 'events:event_description' %}">Click me to load info!</button>
            <div class="info"></div>

        </div><!-- #intro-text -->

        <div id="image-box2">
            <!-- #image made by RaenaRahimiBafrani -->
            <img src="{% static "img/Calendar-September-2021.JPG" %}" alt="Calendar">
            <!-- #image from ISVT media group in Telegram -->
            <img src="{% static "img/yaldanight.jpeg" %}" alt="Flyer">
            <img src="{% static "img/mehregan.jpeg" %}" alt="Flyer">
            <img src="{% static "img/chiptole-fundrising.jpeg" %}" alt="Flyer">
            <img src="{% static "img/flyer.jpeg" %}" alt="Flyer">
        </div><!-- #image-box2 -->
{% endblock %}